

    .gradient-custom-2 {
      /* fallback for old browsers */
        background: #1f8e27;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(31, 142, 39, 0.85), rgba(215, 60, 127, 0.85));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(31, 142, 39, 0.85), rgba(215, 60, 127, 0.85))
    }
  
    @media (min-width: 768px) {
      .gradient-form {
        height: 100vh;
      }
    }
  
    @media (min-width: 769px) {
      .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
      }
    }