  .detail {
    background-color: black;
  }

    @media only screen and (max-width: 1100px) {
      .detail {
        display: none;
        width: 100% auto;
        background-color: black;
      }
    }